<!--диалоговое окно подтверждения действий-->

<h1 mat-dialog-title>
  {{dialogTitle}}
</h1>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Введите пароль</mat-label>
    <input #inputPassword
           [(ngModel)]="password"
           matInput
           placeholder="Пароль"
    >
    <button (click)="password=''"
            *ngIf="password && password.trim().length > 0" aria-label="Clear"
            class="dialog-task-title" mat-button
            mat-icon-button matSuffix>
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</div>

<!--кнопки возможных действий-->
<div mat-dialog-actions>
  <button (click)="onConfirm()" color="primary" mat-raised-button>Ok</button>
  <button (click)="onCancel()" mat-button>Отмена</button>
</div>
