<div class="container-fluid settings">
  <div class="col-8 text-left align-self-top">
    <p class="navbar-brand">Bulletin Board</p>
  </div>

  <div class="col-2 text-right align-self-top ">
    <button (click)="registration()" class="header-icon" mat-icon-button>
      Регистрация
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <!--помощь, настройки-->
  <div class="col-2 text-right align-self-top ">
    <button class="header-icon" mat-icon-button>
      <mat-icon>help</mat-icon>
    </button>
  </div>
</div>
