<div *ngIf="showSearch" class="row">
  <div class="col-md-2 col-sm-12">
    <!--поиск -->
    <mat-form-field>
      <input
        (keydown.escape)="$event.stopPropagation(); filterTitle='';checkFilterChanged()"
        (ngModelChange)="this.checkFilterChanged()"
        [(ngModel)]="filterTitle"
        matInput
        placeholder="Заголовок"
      />
      <button
        (click)="$event.stopPropagation(); filterTitle=''; checkFilterChanged()"
        *ngIf="filterTitle && filterTitle.trim().length > 0"
        aria-label="Clear" class="clear-icon"
        mat-button
        mat-icon-button
        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="col-md-2 col-sm-12">
    <mat-form-field>
      <mat-select
        (selectionChange)="checkFilterChanged()"
        [(ngModel)]="filterSortColumn"
        disableOptionCentering
        placeholder="Сортировка"
      >
        <mat-option value="dateAdd">Дата создания</mat-option>
        <mat-option value='title'>Заголовок</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-md-4.col-sm-12">
    <button
      (click)="$event.stopPropagation(); changedSortDirection(); checkFilterChanged()"
      aria-label="Sort direction"
      mat-button
      mat-icon-button
      matSuffix
    >
      <mat-icon>{{this.sortIconName}}</mat-icon>
    </button>
    <button
      (click)="initSearch()"
      [ngClass]="{'search-button': true, 'blink-button': changed}"
      color="accent"
      mat-raised-button
    >
      <mat-icon>search</mat-icon>
    </button>
    <button
      (click)="$event.stopPropagation(); clearSearchValues(); checkFilterChanged()"
      aria-label="Clear"
      mat-button
      matSuffix
    >
      Очистить
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <button
      (click)="openAddAdvertDialog()"
      [ngClass]="{'full-width': true}"
      color="primary"
      mat-raised-button>
      Добавить объявление
    </button>
  </div>

  <!--  <div class="col-md-2 col-sm-12 text-left align-middle-align-self-center">-->
  <!--    <span (click)="onToggleSearch()" *ngIf="showSearch" class="link">Скрыть список</span>-->
  <!--    <span (click)="onToggleSearch()" *ngIf="!showSearch" class="link">Показать список</span>-->
  <!--  </div>-->

  <div class="col-md-8 align-middle-align-self-center text-right pr-5">
        <span class="founded">
            Найдено объявлений: {{totalBoardFounded}}
        </span>
  </div>

</div>

<div class="row">

  <div class="col-md-12 task-list">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Список объявлений</h4>
      </div>
      <div *ngIf="boards && boards.length > 0" class="card-body table-responsive">
        <table [dataSource]="dataSource"
               data-position="bottom"
               mat-table
               matSort
        >

          <!--            нумерация-->
          <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell>#</th>
            <td *matCellDef="let index=index;" class="col-id" mat-cell>
              {{index + 1}}
            </td>
          </ng-container>

          <ng-container matColumnDef="picture">
            <th *matHeaderCellDef mat-header-cell>Картинка</th>
            <td *matCellDef="let boards" class="col-tab-number" mat-cell>
              <!--              {{boards.picture}}-->
              <div class="card-avatar">
                <a href="javascript:;">
                  <img src="{{'data:image/jpeg;base64,'+ boards.picture}}">
                </a>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="">Заголовок</th>
            <td (click)="openAdvertContent(boards)" *matCellDef="let boards"
                class="col-full-name"
                mat-cell
            >
              {{boards.title}}
            </td>
          </ng-container>

          <ng-container matColumnDef="text">
            <th *matHeaderCellDef mat-header-cell>Текст</th>
            <td *matCellDef="let boards" class="col-position" mat-cell>
              {{boards.text}}
            </td>
          </ng-container>

          <ng-container matColumnDef="dateAdd">
            <th *matHeaderCellDef mat-header-cell>Добавлено</th>
            <td *matCellDef="let boards" class="col-opr" mat-cell>
              {{boards.dateAdd | boardDate}}
            </td>
          </ng-container>

          <!--Объект-->
          <ng-container matColumnDef="author">
            <th *matHeaderCellDef mat-header-cell>Автор</th>
            <td *matCellDef="let boards" class="col-facility" mat-cell>
              {{boards.user.lastName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="operations">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let boards" class="col-operations" mat-cell>
              <button (click)="openAdvertContent(boards)" class="open-employee-icon"
                      mat-icon-button>
                <mat-icon aria-hidden="false">input</mat-icon>
              </button>
            </td>
          </ng-container>

          <!--            Заголовок таблицы-->
          <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>

          <!--строки таблицы - набор строк из теов td-->
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>
        <mat-paginator
          (page)="pageChanged($event)"
          [length]="totalBoardFounded"
          [pageIndex]="boardSearchValues.pageNumber"
          [pageSizeOptions]="[10, 20, 50, 100]"
          [pageSize]="boardSearchValues.pageSize"
          showFirstLastButtons></mat-paginator>
      </div>

      <div *ngIf=" boards && boards.length === 0"><p
        class="not-found">Ничего не найдено</p></div>
    </div>
  </div>

</div>
