<p mat-dialog-title>{{dialogTitle}}</p>
<hr>
<mat-dialog-content>

  <mat-form-field>
    <mat-label>Старый email</mat-label>
    <input #inputOldEmail
           [(ngModel)]="user.oldEmail"
           matInput
           placeholder="Старый email"
    >
    <button (click)="user.oldEmail=''"
            *ngIf="user.oldEmail && user.oldEmail.trim().length > 0" aria-label="Clear"
            class="dialog-task-title" mat-button
            mat-icon-button matSuffix>
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Новый email</mat-label>
    <input #inputNewEmail
           [(ngModel)]="user.newEmail"
           matInput
           placeholder="Новый email"
    >
    <button (click)="user.newEmail=''"
            *ngIf="user.newEmail && user.newEmail.trim().length > 0"
            aria-label="Clear"
            class="dialog-task-title" mat-button
            mat-icon-button matSuffix>
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<hr>

<!--кнопки возможных действий-->
<mat-dialog-actions>
  <div class="col-md-8 col-12">
    <button (click)="confirm()"
            [disabled]="validInputData()"
            color="primary"
            mat-raised-button>
      Сохранить
    </button>

    <button (click)="cancel()" mat-raised-button>Отмена</button>
  </div>

</mat-dialog-actions>
